/*.slick-next, .slick-prev {
    position: absolute;
    display: block;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: 0 0;
    color:black;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    outline: 0;
    z-index: 1;
    border: 1px solid #fff;
    height: 4.35714rem;
    margin-top: -2.14286rem;
    padding: .71429rem;
    width: 2.85714rem;
}

.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
    outline: 0;
    background: 0 0;
    color: gery;
}
.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
    background-color: #fff;
    background-color: rgba(255,255,255,.9);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}*/


/*img.card-img-top
{
    position:absolute;
    background-color:yellow;
    display: block;
    height: auto;
    clip: rect(100px,100px,100px,10px);
    max-width: 100%;
}*/

.slick-prev {
  left: 1rem;
  background: red; /*to notice it, is white*/
  z-index: 1;
}
.slick-next {
  right: 1rem;
  background: red; /*to notice it, is white*/
}

.rate_widget {
    border: 0px solid #CCC;
    overflow:   visible;
    padding:    10px;
    position:   relative;
    width: 100%;
    height: fit-content;
}
.ratings_stars {
    float:      left;
    padding:    2px;
}

.ratings_vote {
    background: url('../images/star_f.png') no-repeat;
}
.ratings_over {
    background: url('../images/star_h.png') no-repeat;
}

.total_votes {
    background: #eaeaea;
    top: 58px;
    left: 0;
    padding: 5px;
    position:   absolute;  
} 
.movie_choice {
    font: 10px verdana, sans-serif;
    margin: 0 auto 40px auto;
    width: 180px;
}


@media (min-width:30em){
.card-columns {
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
-webkit-column-gap: 1.25rem;
-moz-column-gap: 1.25rem;
column-gap: 1.25rem;
}
}

@media (min-width: 48em) {
.card-columns {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-gap: 1.25rem;
-moz-column-gap: 1.25rem;
column-gap: 1.25rem;
}
}

@media (min-width: 62em) {
.card-columns {
-webkit-column-count: 4;
-moz-column-count: 4;
column-count: 4;
-webkit-column-gap: 1.25rem;
-moz-column-gap: 1.25rem;
column-gap: 1.25rem;
}
}

@media (min-width: 75em) {
.card-columns {
-webkit-column-count: 5;
-moz-column-count: 5;
column-count: 5;
-webkit-column-gap: 1.25rem;
-moz-column-gap: 1.25rem;
column-gap: 1.25rem;
}
}

@media (min-width: 15em ){
.card-columns .card {
display: inline-block;
width: 100%;
}
}

html body{height: 100%;background-color: #F5F7FA;direction: ltr;}

.card h4{
font-size: 1.5vw;

}
.card {margin-bottom: 0rem;border: none;padding: 0rem 0.5rem;border-radius: 0;-webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);font-size: 1.5vw;height: fit-content;}

/*
.form .group select{
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
}

.form {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}
*/

.form .group{
    margin-bottom:5px;
}

.form .group .label,
.form .group .input,
.form .group .select,
.form .group .select option{
    width: 100%;
    height: 1rem;
    font-size: .8rem;
    color:#fff;
    display:block;
    height: auto;
}

.form .group .button{
    width:80%;
    height: 1rem;
    font-size: .6rem;
    color:#fff;
    display:block;
    margin: 1% 10%;
}

input[type='file'] {
  color: transparent;    
}

.form .group .select,
.form .group .input,
.form .group .button{
    border:none;
    padding: 0;
    border-radius:25px;
    background: rgba(68, 77, 234, 0.36);
}


.form .group .select option{
    border:none;
    padding:.15rem .20rem;
    border-radius:25px;
    background:rgba(4, 47, 42, 0.82);
}

.form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}

.form .group .label{
    color: #c50d46;
    padding: .15em .3rem;


}
.form .group .button{
    background:#1161ee;
}
.form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.form .group label .icon:before,
.form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    -webkit-transition:all .2s ease-in-out 0s;
    transition:all .2s ease-in-out 0s;
}
.form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    -webkit-transform:scale(0) rotate(0);
            transform:scale(0) rotate(0);
}
.form .group label .icon:after{
    top:6px;
    right:0;
    -webkit-transform:scale(0) rotate(0);
            transform:scale(0) rotate(0);
}
