#formsahil2 input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#formsahil2 input[type=submit] {
    width: 80%;
    background-color: #0fcbe0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#formsahil2 input[type=submit]:hover {
    background-color: #45a049;
}
